<div class="cover">

  <%= form_tag experiences_path, class: "flex-form", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Explore new experiences"
    %>
    <%= submit_tag "Search", class: "search-button" %>
  <% end %>

</div>
