
<%= render 'shared/navbar' %>

<h1>WELCOME TO RENT-A-TOUR</h1>

<div class="form-container">
  <form action="" method="get">
    <div class="tourguide-search">
      <div class="search-element">
        <label class="search-label">Where are you looking?</label>
        <br>
        <input class="search-input" type="text" autocomplete="on" name="query">
      </div>
      <div class="search-element">
        <label class="search-label">Select your dates:</label>
        <br>
        <input class="search-input" type="" autocomplete="on" name="dates">
      </div>
      <a type="submit" class="search-button">Search</a>
    </div>
  </form>
</div>
