<div class="wrapper">
  <h1>Browse All Experiences</h1>
  <div class="cards">
      <% @experiences.each do |experience| %>
        <div class="" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)" alt='experience-photo'>
        <%= experience.title %>
        </div>
      <% end %>
  </div>
</div>
