.card-avatar {
  overflow: hidden;
  background: white;
  display: flexbox;
  align-items: center;
}

.card-avatar img {
  display: flex;
}

.card-avatar-info {
  display: flex;
}

.column {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
