
.links-left {
  width: 25%;
  margin-left: 8vw;
}

.links-left h4 {
  margin-bottom: 5vh !important;
}

.links-left h5 {
  font-weight: 400;
}

.links-left a {
  text-decoration: none;
  color: black;
  transition: all .2s ease;
  font-size: 20px;
}

.links-left a:hover {
  color: #828282;
}

.dashboard-list {
  width: 50%;
  float: right;
  margin-top: -8vh;
  margin-right: 10vw;
  background-color: white;
  box-shadow: 2.5px 2.5px 10px lightgrey;
  border-radius: 20px;
  margin-bottom: 10vh !important;
}

.dashboard-list-item {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #EEEEEE;
}

.font-thin {
  letter-spacing: 0.1px;
  font-weight: 300;
}

.view-details a {
  color: black;
  text-decoration: none;
  transition: all .2s ease;
}

.view-details a:hover {
  color: #828282;
}

.booking-status {
  width: 20%;
  text-align: center;
}

.markers {
  margin-top: 2vh;
  display: inline-flex;
  gap: 25px;
}
.status-marker {
  border: solid 1px lightgrey;
  border-radius: 10px;
  margin: 0 auto;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.confirm {
  transition: all .2s ease;
}

.confirm:hover {
    background-color: lightgreen;

}

.reject {
  transition: all .2s ease;
}

.reject:hover {
    background-color:salmon;

}
.status-marker a {
  color: black;
  text-decoration: none;
}

.pending-bookings {
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-weight: 500;
  letter-spacing: 1 px;
  border-bottom: solid 1px lightgrey;
}
