
.links-left {
  width: 25%;
  margin-left: 8vw;
}

.links-left h4 {
  margin-bottom: 5vh !important;
}

.links-left h5 {
  font-weight: 400;
}

.links-left a {
  text-decoration: none;
  color: black;
  transition: all .2s ease;
  font-size: 20px;
}

.links-left a:hover {
  color: #828282;
}

.dashboard-list {
  width: 50%;
  float: right;
  margin-top: -8vh;
  margin-right: 10vw;
  background-color: white;
  box-shadow: 2.5px 2.5px 10px lightgrey;
  border-radius: 20px;
  margin-bottom: 10vh !important;
}

.dashboard-list-item {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #EEEEEE;
}

.font-thin {
  letter-spacing: 0.1px;
  font-weight: 300;
}

.view-details a {
  color: black;
  text-decoration: none;
  transition: all .2s ease;
}

.view-details a:hover {
  color: #828282;
}
