.mapboxgl-popup-content {
  border-radius: 8px !important;

}

.image_window {
  width: 100%;
  height: 50%;
  border-radius: 8px !important;
}
.container_window {
  h2 {
    font-size: 25px;
    padding-top: 1vh;
    letter-spacing: 2px;
    margin-bottom: 0 !important;
  }
   p {
    font-size: 15px;
    text-align: center;
    padding-top: 1vh;
   }
}

.container_window {
    height: 320px;
    padding-bottom: 4vh;
}
.mapboxgl-popup-close-button {
  background-color: white !important;
  border-radius: 50% !important;
  font-size: 30px;
  padding: 3px;
}

.view-price_window {
  margin-left: 50px;
  margin-top: 10px;
  padding-bottom: 10px;
}
