// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  font-family: "Roboto", sans-serif !important;
}


h1 {
  font-size: 64px;
  letter-spacing: 10px;
  text-align: center;
  font-weight: 900;
  padding-top: 20vh;

}

h2 {
  font-size: 56px;
  text-align: left;
  padding-top: 20vh;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: capitalize;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  text-align: justify;
}

a {
  font-size: 16px;
}
